body, td {
    font-size: 0.9em;
    font-family: Arial, sans-serif;
    background-color: #ace8ff;
}
body {
    max-width: 40em;
    margin: 2em;
}
blockquote {
    margin-left: 2em;
    font-style: italic;
}
p.says cite {
    color: #b8860b;
}
p.says {
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
}
