body {
    margin: 0;
}
td {
    font-size: 1em;
}

/* Added by html-wtoc.pl >>>>>>>>>>>>> */
.html-wtoc-mark {
/*     background-color: #9cf; */
/*     background-color: #bcee68; */
/*     background-color: #a2cd5a; */
    width: 20px;
    padding: 0;
    border: 0;
    text-align: center;
}
.html-wtoc-contline {
    width: 100%;
}

.html-wtoc-margin {
    width: 0.6em;
}
.html-wtoc-contents {
    font-size: 0.9em;
    padding: 1em;
    background-color: #9cf;
    background-color: #a2cd5a;
    background-color: #efffcf;
    background-color: #ffffdf;
    -moz-border-radius-topleft: 2em;
}
.html-wtoc-contents td {
/*     background-color: #9cf; */
/*     background-color: #bcee68; */
/*     background-color: #a2cd5a; */
}
.html-wtoc-contents-a {
    text-decoration: none;
    color: #595C00;
/*     background-color: #9cf; */
/*     background-color: #bcee68; */
/*     background-color: #a2cd5a; */
    border: 1px #9cf solid;
    border: 1px #a2cd5a solid;
    border: 1px #ffffc0 solid;
    padding-left: 0.25em;
    padding-right: 0;
    margin: 1px;
    display: block;
}
.html-wtoc-contents a:hover {
    text-decoration: none;
    background-color: #b9ffb9;
    border: 1px #6b8e23 solid;
}
.html-wtoc-currcont {
    background-color: #738600;
    color: #ffff2f;
    background-color: #535600;
    border: 1px #6b8e23 inset;
    padding-left: 0.25em;
    padding-right: 0;
    margin: 1px;
    display: block;
}
a.html-wtoc-currcont {
    text-decoration: none;
}
a.html-wtoc-currcont:hover {
    background-color: #738600;
    background-color: #536600;
    background-color: #434620;
}
/* <<<<<<<<<<<<<<<<<<< */








