/* Main structures >>>>>>>>>>>>>>> */
.html-wtoc-maintop {
    font-size: 1px;
    font-size: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
/*     background-color:green;  */
}
.html-wtoc-main {
}

td.html-wtoc-vdivline {
    //background-color: #8be;
    width: 0px;
}

.html-wtoc-search-form {
    margin-bottom: 0.1em;
}
.html-wtoc-search {
    font-size: 0.8em;
    color: green;
}
.html-wtoc-search a {
    color: green;
}
/* <<<<<<<<<<<<<<<<<<< */




/* Table of content >>>>>>>>>>>>>> */

#html-wtoc-id-hidetoc {
    height: 20px;
    border-bottom: 2px inset #ddf;
    border-color: #dff;
}

#html-wtoc-id-tocdiv {
    width: 2.5em;
    //background-color: #eff;
}
#html-wtoc-id-logo {
    width: 100%;
    height: 120px;
    padding: 0em;
    margin: 0em;
    border: 0em;
}
#html-wtoc-id-toc {
}
#html-wtoc-id-tocwidth {
    width: 18em;
    height: 0em;
    padding: 0em;
    margin: 0em;
    border: 0em;
    line-height: 0em;
/*     background-color: red;     */
}
#html-wtoc-id-toccol {
    width: 18em;
}

.html-wtoc-contcol {
    background-color: #dFEfff;
    background-color: #dFEfff;
    background-color: #cd950c;
    background-color: #eead0e;
}
/* <<<<<<<<<<<<<<<<<<< */




/* Buttons etc >>>>>>>>>>>>>>> */
.html-wtoc-button {
    font-size: 0.75em;
    font-size: 8pt;
    color: #5A5D00;
    background-color: #9cf;
    background-color: #bcee68;
    background-color: #a2cd5a;
    padding: 0.2em;
    Border-Width: 2px;
    Border-Style: outset;
    text-align: center;
    border-color: #ddf;
}
a.html-wtoc-button {
    text-decoration: none;
    color: #5A5D00;
}
a.html-wtoc-button:hover {
    text-decoration:none;
    background-color: #6af;
    color:#340;
}

a.html-wtoc-buttonimg img {
    width: 16px;
    height: 16px;
    padding: 4px;
    border: 8px;
}
a.html-wtoc-buttonimg {
    border:2px;
    margin:2px;
    margin-left:2px;
    margin-right:2px;
}
a.html-wtoc-buttonimg {
    font-size:1px;
}
a.html-wtoc-buttonimg:hover {
    margin: 6px;
    margin-left:0px;
    margin-right:0px;
    border-color: #ddf;
    border-width: 2px;
    border-style: outset;
    background-color: #595C00;
    background-color: #bef;
    background-color: #b9ffb9;
}

/* <<<<<<<<<<<<<<<<<<< */


#nxhtml-link {
    font-size: 0.7em;
    text-align: center;
    padding-top: 2em;
    padding: 1em;
}

.copyright {
    color : #872;
}

