body { font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;color:#rrggbb;font-size:10pt;}
span.bold-0248   { background:#rrggbb;font-weight:700;font-family:outline-courier new;font-stretch:normal;font-style:normal;color:#rrggbb;font-size:10pt;}
span.bold-0248 a { background:#rrggbb;font-weight:700;font-family:outline-courier new;font-stretch:normal;font-style:normal;color:#rrggbb;font-size:10pt;}
span.button-0004   { font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;color:#rrggbb;font-size:10pt;}
span.comint-highlight-prompt-1428   { color:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.comment-face-1419   { color:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.compilation-column-number-1429   { color:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.compilation-error-1430   { color:#rrggbb;font-weight:700;font-family:outline-courier new;font-stretch:normal;font-style:normal;font-size:10pt;}
span.compilation-info-1433   { color:#rrggbb;font-weight:700;font-family:outline-courier new;font-stretch:normal;font-style:normal;font-size:10pt;}
span.compilation-line-number-1434   { color:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.compilation-warning-1435   { color:#rrggbb;font-weight:700;font-family:outline-courier new;font-stretch:normal;font-style:normal;font-size:10pt;}
span.compilation-warning-1435 a { color:#rrggbb;font-weight:700;font-family:outline-courier new;font-stretch:normal;font-style:normal;font-size:10pt;}
span.completion-dynamic-face-1436   { color:#rrggbb;background:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.completion-dynamic-face-1436 a { color:#rrggbb;background:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.completion-tooltip-face-1437   { color:#rrggbb;background:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.completion-tooltip-face-1437 a { color:#rrggbb;background:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.custom-button-0022   { border-width:1px;border-style:outset;color:#rrggbb;background:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.custom-button-0022 a { border-width:1px;border-style:outset;color:#rrggbb;background:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.default   { font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;color:#rrggbb;font-size:10pt;}
span.default-0258   { background:#rrggbb;font-size:105%;}
span.default-0258 a { background:#rrggbb;font-size:105%;}
span.default-0259   { color:#rrggbb;font-size:105%;}
span.default-0259 a { color:#rrggbb;font-size:105%;}
span.default-0260   { background:#rrggbb;font-size:105%;}
span.default-0260 a { background:#rrggbb;font-size:105%;}
span.default-0261   { color:#rrggbb;font-size:105%;}
span.default-0261 a { color:#rrggbb;font-size:105%;}
span.default-0262   { background:#rrggbb;font-size:105%;}
span.default-0262 a { background:#rrggbb;font-size:105%;}
span.default-0263   { color:#rrggbb;font-size:105%;}
span.default-0263 a { color:#rrggbb;font-size:105%;}
span.default-0264   { background:#rrggbb;font-size:105%;}
span.default-0264 a { background:#rrggbb;font-size:105%;}
span.default-0265   { color:#rrggbb;font-size:105%;}
span.default-0265 a { color:#rrggbb;font-size:105%;}
span.default-0266   { background:#rrggbb;font-size:105%;}
span.default-0266 a { background:#rrggbb;font-size:105%;}
span.default-0267   { color:#rrggbb;font-size:105%;}
span.default-0267 a { color:#rrggbb;font-size:105%;}
span.default-0268   { background:#rrggbb;font-size:105%;}
span.default-0268 a { background:#rrggbb;font-size:105%;}
span.default-0269   { color:#rrggbb;font-size:105%;}
span.default-0269 a { color:#rrggbb;font-size:105%;}
span.default-0270   { background:#rrggbb;font-size:105%;}
span.default-0270 a { background:#rrggbb;font-size:105%;}
span.default-0271   { color:#rrggbb;font-size:105%;}
span.default-0271 a { color:#rrggbb;font-size:105%;}
span.default-0272   { background:#rrggbb;font-size:105%;}
span.default-0272 a { background:#rrggbb;font-size:105%;}
span.default-0273   { color:#rrggbb;font-size:105%;}
span.default-0273 a { color:#rrggbb;font-size:105%;}
span.default-1431   { color:#rrggbb;font-weight:700;font-size:164%;}
span.default-1431 a { color:#rrggbb;font-weight:700;font-size:164%;}
span.default-1432   { color:#rrggbb;font-weight:700;font-size:164%;}
span.default-1432 a { color:#rrggbb;font-weight:700;font-size:164%;}
span.help-argument-name-1420   { color:#rrggbb;font-style:italic;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-size:10pt;}
span.help-argument-name-1420 a { color:#rrggbb;font-style:italic;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-size:10pt;}
span.keyword-face-1440   { color:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.keyword-face-1440 a { color:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.match-1438   { background:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;color:#rrggbb;font-size:10pt;}
span.match-1438   { background:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;color:#rrggbb;font-size:10pt;}
span.match-1438 a { background:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;color:#rrggbb;font-size:10pt;}
span.match-1438 a { background:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;color:#rrggbb;font-size:10pt;}
span.string-face-1441   { color:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.string-face-1441 a { color:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.underline-0219   { font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;color:#rrggbb;font-size:10pt;}
span.underline-0219 a { font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;color:#rrggbb;font-size:10pt;}
span.underline-1412   { color:#rrggbb;font-weight:700;font-family:outline-courier new;font-stretch:normal;font-style:normal;font-size:10pt;}
span.underline-1412 a { color:#rrggbb;font-weight:700;font-family:outline-courier new;font-stretch:normal;font-style:normal;font-size:10pt;}
span.underline-1413   { color:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.underline-1413 a { color:#rrggbb;font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;font-size:10pt;}
span.underline-1439   { font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;color:#rrggbb;font-size:10pt;}
span.underline-1439 a { font-family:outline-courier new;font-stretch:normal;font-weight:500;font-style:normal;color:#rrggbb;font-size:10pt;}
